body {
  background-color: #160505;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.portfolio {
  background-color: rgb(217, 235, 235);
  background-size: cover;
  background-repeat: no-repeat;
  animation: fadeIn 5s ease-in;
}
.summary-tab {
  background-color: #12535c;
  border-right: 1px solid #ddd;
  font-style: italic;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
